@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex:1;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex:1;
  flex-direction: column;
  justify-content: center;
  background-color: #353535;
}

header, footer {
  background-color: #1c6ea4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:15px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

iframe  {
  display: none;
}
